* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Arthead;
    src: url(/fonts/Arthead-Regular\ FREE.otf);
}

.background {
    background-size: 100%;
    background-image: url(/images/wide-shot-isolated-green-tree-near-pathway-beautiful-green-field.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

/* HEADER ONLY */


.header .navbar {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    background: transparent;
    backdrop-filter: blur(10px);

}

.navbar a {
    font-size: 18px;
    position: relative;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    padding-right: 30px;
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    width: 70%;
    height: 2px;
    background: #000000;
    bottom: 0;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s ease;
}

.navbar a:hover::after {
    transform: translateY(0);
    opacity: 1;
}

.navbar>input {
    font-size: 14px;
    border: none;
    border-radius: 20px;
    padding: 12px;
    position: relative;
    top: -10px;
    left: 400px;
    background: white;
}

.navbar>i {
    position: relative;
    left: -420px;
    top: -6px;
    font-size: 30px;
}

/* HEADER ONLY ENDS */


/* MAIN BODY ONLY */
.container {
    width: 100%;
    height: 100%;
    background: transparent;
    color: #fff;

}

.container .text {
    width: 50vw;
    position: relative;
    top: 200px;
    left: 285px;
    text-align: center;
    background: transparent;
}

.text>h1 {
    font-size: 12rem;
}

.text p {
    font-size: 18px;
    margin-bottom: 80px;
}

.text i {
    margin-top: 20px;
    font-size: 32px;
}

/* MAIN BODY ENDS */

/* 2ND PAGE STARTS */

/* 1ST DIV WITH STATISTIC */
.stat {
    width: 100vw;
    height: 100%;
    background: rgb(249, 249, 249);
}

.text-up {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    padding: 0 40px;
    padding-top: 30px;
}

.text-down {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    padding-bottom: 30px;
    color: rgb(162, 162, 162);
}

.text-down p {
    padding-right: 100px;
}

.text-down span {
    padding-right: 155px;
}

/* 1ST DIV WITH STATISTIC */


/* 2ND DIV WITH INFORMATION */
.info {
    width: 100%;
    height: 100%;
    display: flex;
}

.txt {
    width: 50%;
    height: 50%;
}
.txt>h2{
padding: 60px 30px;
}

.info-text{
    margin: 0;
    padding: 0;
}
.info-text>p{
    padding: 0 90px;
    margin-top: 60px;
    font-size: 20px;
    color: darkgray;
}
.info-text span{
    font-weight: 600;
    font-size: large;
    color: black;
}
.info-text .card.first{
    margin-left: 80px;
}
.info-text .card{
    background: mintcream;
    border: none;
    display: inline-block;
    margin: 40px 10px;
    
}
.info-text .card .card-body{
    padding: 20px 30px;
}
.info-text .card .card-body i{
    font-size: 30px;
    padding-left: 0;
    /* padding-top: 5px; */
    padding-bottom: 50px;
}
.text-end {
    margin: 35px 0;
}
.text-end h1{
    color: lightgray;
}
.text-end span{
    color: rgb(22, 92, 57);
}

/* 2ND DIV WITH INFORMATION */


/* 3D DIV WITH PROJECT */
.container-two{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.container-two h5{
    display: inline-block;
    font-size: 22px;
    margin-left: 40px;
}
.container-two>img{
    border-radius: 20px;
    width: 90%;
    height: 70vh;
    margin-top: 40px;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;   
    left: 80px; 
}


/* background video */
.background-str>video{
    width: 100%;
    height: 100%;
}
/* background video */
/* carousel */
.carousel {
    width: 60%;
    position: relative;
    left: 20%;
    bottom: 740px;
}
.carousel p{
    font-size: 20px;
    font-weight: 600;
}

/* carousel md */
/* 3RD DIV WITH PROJECT */

/* 4TH DIV */
.video {
    width: 100%;
    overflow: hidden;
}
.video>h2{
    width: 75%;
    position: relative;
    text-align: center;
    color: #fff;
    bottom: 700px;
    left: 15%;
}
.video>p {
    position: relative;
    text-align: center;
    color: #fff;
    bottom: 695px;
}
.video .btn-group{
    position: relative;
    color: transparent;
    bottom: 650px;
    left: 40%;
}
.btn-group input{
    border: none;
    border-bottom-left-radius: 20px;
    padding: 15px;
}
.btn-group button{
    border: none;
    border-top-right-radius: 20px;
    padding: 10px;
    background-color: yellow;
    color: black;
}
.video h1{
    font-size: 23rem;
    color: rgba(211, 211, 211, 0.501);
    position: relative;
    top: -450px;
}

/* footer */
footer {
    display: flex;
}

.first__column{
    margin: 20px;
    font-size: 20px;
    color: #000000;
}
.second__column{
    margin-top: 20px;
}
footer>p{
    margin-top: 20px;
    margin-left: 20px;
    color: lightgray;
}
.btn-group__one{
    border: 1px solid #000000;
}
/* footer ends */
/* 4TH DIV ENDS */